@charset "utf-8";

/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */

/*====================================================================

01.format
02.common
03.top
04.low common
05.concept
06.icon
07.product
08.company
09.news
10.recruit
11.contact

=====================================================================*/

/* 01.format
-------------------------------------------------- */
 @mixin wrap {
  width: 1000px;
  margin: 0 auto;
}

$fontColor: #404040;
$kcol:#28066a;
$fcol:#1b1b1b;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body{
  line-height:1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: $fontColor;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color: $fcol;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

img {
  vertical-align: top;
  font-size:0;
  line-height: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 02.common
-------------------------------------------------- */
#header {
  height: 56px;
  background-color: #28066a;
  .inner {
    @include wrap;
    @include clearfix;
    position: relative;

  }
  h1 {
    position:absolute;
    top:0;
    left:0;
  }
  p.tel {
    width: 206px;
    float: left;
    padding-left: 626px;
  }
  ul.icons {
    width: 168px;
    float: left;
    padding-left: 832px;
    li {
      width: auto;
      float: left;
    }
  }
}

#gnav {
  @include wrap;
  padding-top: 27px;
  padding-bottom: 17px;
  ul {
    padding-left: 184px;
    @include clearfix;
    li {
      display: inline-block;
      margin-right: 42px;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
}

#footer {
  border-top: 1px solid #bfbfbf;
  background-color: #f5f5f5;
  line-height: 20px;
  #ftnav-area {
    padding-bottom: 40px;
    border-bottom: 1px solid #bfbfbf;
    .inner {
      @include wrap;
      @include clearfix;
      padding-top: 50px;
      position: relative;
    }
    #ftnav01 {
      width: 159px;
      float: left;
    }
    #ftnav02 {
      width: 168px;
      float: left;
    }
    #ftnav03 {
      width: 179px;
      float: left;
    }
    #ftnav04 {
      width: 135px;
      float: left;
    }
    .pnav {
      font-weight: bold;
      a {
        display: block;
        margin-bottom: 10px;
        padding-left: 10px;
        background-image: url("../img/ft_lm.gif");
        background-repeat: no-repeat;
        background-position: 0 center;
        color: $fcol;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      li {
        font-weight: normal;
        a {
          margin-bottom: 0;
          background: none;
          line-height: 23px;
        }
      }
    }
    .totop {
      position: absolute;
      top:0;
      right:0;
    }
    .rbnr {
      position: absolute;
      top: 50px;
      right: 0;
    }
  }
  #ftinfo {
    .inner {
      padding-top: 30px;
      padding-bottom: 30px;
      @include wrap;
      @include clearfix;
      .logo {
        width: 72px;
        float: left;
        margin-right: 15px;
      }
      address {
        width: 447px;
        float: left;
        line-height: 20px;
      }
      .pmark {
        width: 75px;
        float: right;
      }
    }
  }
  #crarea {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #28066a;
    text-align: center;
    color: #ffffff;
  }
}

/* 03.top
-------------------------------------------------- */
#mimgarea {
  .sp-slide {
    opacity: 0.6;
    &.sp-selected {
      opacity: 1;
    }
  }
}
/* スライダー */
.wideslider {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden; }
  .wideslider img {
    width: 100%;
    height: auto; }

.wideslider ul,
.wideslider ul li {
  float: left;
  display: inline;
  overflow: hidden; }

.wideslider ul li img {
  width: 100%;
  display: none; }

.wideslider_base {
  top: 0;
  position: absolute; }

.wideslider_wrap {
  top: 0;
  position: absolute;
  overflow: hidden; }

.slider_prev,
.slider_next {
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  cursor: pointer; }

.slider_prev {
  background: #000 url("../img/prev.png") no-repeat right center; }

.slider_next {
  background: #000 url("../img/next.png") no-repeat left center; }

.click_prev {
  position: absolute;
  right: 0;
  top: 233px;
  opacity: 1 !important;
  margin-right: -25px;
  cursor: pointer; }

.click_next {
  position: absolute;
  left: 0;
  top: 233px;
  opacity: 1 !important;
  margin-left: -25px;
  cursor: pointer; }

.pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  position: absolute;
  z-index:10000; }

.pagination a {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  background-image: url(../img/sld_pn.png);
  background-position: left top;
  background-repeat: no-repeat;
  z-index:10000;
 }

.pagination a.active {
  background-image: url(../img/sld_pn_actv.png);
  opacity: 1 !important; }

/* ClearFixElements */
.wideslider ul:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden; }

.wideslider ul {
  display: inline-block;
  overflow: hidden; }

#tnews {
  background-color: #f5f5f5;
  padding-top: 29px;
  padding-bottom: 23px;
  line-height: 20px;
  .inner {
    @include wrap;
    position: relative;
  }
  h2 {
    margin-bottom: 44px;
    text-align: center;
  }
  .toarc {
    position: absolute;
    right: 0;
    top: 0;
    a {
      padding-right: 10px;
      color: $fcol;
      text-decoration: none;
      background-image: url("../img/tnews_lm.gif");
      background-repeat: no-repeat;
      background-position: right center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .list-area {
    width: 747px;
    margin: 0 auto;
    li {
      @include clearfix;
      padding-bottom: 13px;
      border-bottom: 1px dotted #959595;
      margin-bottom: 13px;
    }
    .date {
      float: left;
      font-weight: bold;
      width: 97px;
    }
    .tag {
      width: 73px;
      float: left;
      margin-right: 23px;
    }
    .ttl {
      width: 546px;
      float: left;
      a {
        color: $fcol;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
#ticon {
  height: 417px;
  line-height: 20px;
  background-image: url("../img/ticon_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  .inner {
    @include wrap;
    @include clearfix;
  }
  .box {
    padding-top: 60px;
    width: 429px;
    float: right;
    h2 {
      margin-bottom: 23px;
      text-align: center;
    }
    .txt {
      width: 290px;
      margin: 0 auto 37px auto;
    }
  }
}
#tsv {
  padding-top: 42px;
  padding-bottom: 45px;
  background-image: url("../img/tsv_bg.gif");
  background-repeat: repeat;
  background-position: 0 0;
  line-height: 20px;
  .inner {
    @include wrap;
  }
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  ul {
    @include clearfix;
  }
  li {
    float: left;
    margin-right: 13px;
    width: 238px;
    border: 1px solid #c2c3c3;
    background-color: #fff;
    .txt {
      padding: 8px 13px 12px 16px;
    }
    a {
      display: block;
      color: $fcol;
      text-decoration: none;
    }
  }
  li:last-of-type {
    margin-right: 0;
  }
}
#tbnrs {
  @include wrap;
  padding: 53px 0 56px 0;
  ul {
    @include clearfix;
  }
  li {
    width: 302px;
    float: left;
  }
  li:nth-of-type(2) {
    margin: 0 43px 0 48px;
  }
}

/* 04.low common
-------------------------------------------------- */
#breadcrumbs {
  width: 100%;
  height: 38px;
  background: #f5f5f5;
  .inner{
    @include wrap;
    ol{
      li{
        display: inline-block;
        padding: 13px 0;
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.main{
  width: 100%;
  margin-bottom: 180px;
  .inner {
    @include wrap;
    @include clearfix;
    p{
      line-height: 1.692;
    }
  }
  #section01{
    width: 100%;
    height: 83px;
    padding-top: 47px;
    border-bottom: 1px solid #bfbfbf;
    .inner{
      h2{
        width: 300px;
        margin: 0 auto;
        img{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

/* 05.concept
-------------------------------------------------- */
#concept{
  .section{
    .inner{
      padding-bottom: 40.5px;
      h3{
        width: 900px;
        margin: 0 auto;
        margin-bottom: 25.5px;
      }
      .txt_area01 {
        width: 900px;
        margin: 0 auto;
      }
    }
  }
  #section02{
    .inner{
      padding-top: 45px;
      .sec02_ttl{
        img{
          display: block;
          margin: 0 auto;
        }
      }
      .txt_area02{
        width: 757px;
        margin: 0 auto;
        p{
          line-height: 2.154;
        }
      }
    }
  }
  #section03 {
    background-color: #f2f2f2;
    .inner {
      background: url("../img/concept/sec03_bg.png") center 30px no-repeat;
      .sec03_ttl {
        padding-top: 315px;
      }
    }
  }
  #section04 {
    .inner {
      background: url("../img/concept/sec04_bg.png") center 30px no-repeat;
      .sec04_ttl {
        padding-top: 395px;
      }
    }
  }
  #section05 {
    background-color: #f2f2f2;
    .inner {
      background: url("../img/concept/sec05_bg.gif") center 30px no-repeat;
      .sec05_ttl {
        padding-top: 225px;
      }
      .txt_area {
        .mark {
          margin: 25.5px 0;
          font-weight: bold;
        }
      }
    }
  }
}

/* 06.icon
-------------------------------------------------- */
#icon {
  #section02{
    padding-top: 45px;
    .inner{
      h3{
        width: 817px;
        margin: 0 auto 30.5px;
      }
      .txt_area{
        margin-bottom: 70.5px;
        p{
          &:nth-of-type(2){
            padding: 25.5px 0;
          }
        }
      }
      .service{
        @include clearfix;
        li{
          display: inline-block;
          width: 449px;
          height: 375px;
          margin-bottom: 25px;
          padding: 0 18px;
          h4{
            padding-top: 200px;
            margin-bottom: 10.5px;
          }
          &:nth-child(2n+1){
            float: left;
          }
          &:nth-child(2n){
            float: right;
          }
          &:nth-child(5),
          &:nth-child(6) {
            margin-bottom: 0;
          }
        }
        @for $i from 0 through 5 {
          li:nth-child(#{$i + 1}) {
          background-image: url("../img/icon/service0#{$i+1}_bg.jpg");
          }
        }
      }
    }
  }
}

/* 07.product
-------------------------------------------------- */
#product {
  #tab {
    margin-bottom: 80px;
    padding: 34px 0;
    border-bottom: 1px solid #bfbfbf;
    .inner{
      ul {
        width: 860px;
        margin: 0 auto;
        li {
          display: inline-block;
          padding: 0 60px;
          font-size: 14px;
          border-right: 1px solid #bfbfbf;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          a {
            display: block;
            padding: 7px 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .section {
    margin-bottom: 60px;
    .inner {
      .unit {
        width: 570px;
        h3 {
          margin-bottom: 13.5px;
          font-size: 20px;
          color: #015dac;
        }
        .url {
          margin-bottom: 20.5px;
          a:hover {
            text-decoration: underline;
          }
        }
        .txt {
          margin-bottom: 5.5px;
        }
      }
    }
  }
}

/* 08.company
-------------------------------------------------- */
#company {
  #tab {
    margin-bottom: 80px;
    padding: 34px 0;
    border-bottom: 1px solid #bfbfbf;
    .inner{
      ul {
        width: 515px;
        margin: 0 auto;
        li {
          display: inline-block;
          width: 90px;
          padding: 0 60px;
          font-size: 14px;
          border-right: 1px solid #bfbfbf;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          a {
            display: block;
            padding: 7px 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .section {
    .inner {
      h3 {
        margin-bottom: 40.5px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #015dac;
        background: url("../img/company/sec_ttl_bg.gif") 0 7px no-repeat;
      }
    }
  }
  .disnon {
    display: none;
  }
  #section02 {
    .inner {
      .unit {
        margin-bottom: 60px;
        .tbl_wrap01 {
          table {
            width: 100%;
            line-height: 1.846;
            tr {
              &:nth-child(even) {
                background-color: #e5e5e5;
              }
              th {
                width: 220px;
                padding: 10px 0 10px 10px;
                text-align: left;
                font-weight: normal;
              }
              td {
                padding: 10px 0;
                a {
                  font-weight: bold;
                  color: #015dac;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .access {
        text-align: center;
        .gmap {
          margin-bottom: 20px;
        }
        h4 {
          margin-bottom: 15.5px;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
  #section03 {
    .inner {
      .mimg {
        height: 275px;
        margin-bottom: 40.5px;
        background: url("../img/company/mes_bg.jpg") 0 0 no-repeat;
        .message {
          padding: 115px 0 0 90px;
          font-size: 26px;
          font-weight: bold;
        }
      }
    }
  }
  #section04 {
    .inner {
      .unit {
        @include clearfix;
        margin-bottom: 30px;
        h4 {
          margin-bottom: 20px;
          padding: 2px 0 2px 10px;
          font-size: 15px;
          font-weight: bold;
          color: #015dac;
          border-left: 5px solid #015dac;
        }
        .tbl_wrap02 {
          width: 730px;
          table {
            width: 100%;
            line-height: 1.846;
            tr {
              border-bottom: 1px dotted #aaaaaa;
              th {
                width: 100px;
                padding: 2px 0;
                text-align: left;
              }
              td {
                padding: 2px 0;
                a:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .last {
        margin-bottom: 0;
      }
    }
  }
}

/* 09.news
-------------------------------------------------- */
#news {
  #section02 {
    padding-top: 60px;
    .inner {
      dl {
        @include clearfix;
        width: 100%;
        padding: 30px 0 25.5px;
        border-bottom: 1px dotted #aaaaaa;
        dt {
          float:left;
          clear:left;
          width: 200px;
          padding: 5px 0;
          font-weight: bold;
          background: url("../img/news/news_tag.gif") 95px 0 no-repeat;
        }
        dd {
          float:left;
          width: 800px;
          h3 {
            font-weight: bold;
            margin-bottom: 10.5px;
          }
        }
      }
    }
  }
}

/* 10.recruit
-------------------------------------------------- */
#recruit {
  #sec_menu {
    padding: 34px 0;
    border-bottom: 1px solid #bfbfbf;
    .inner{
      ul {
        width: 425px;
        margin: 0 auto;
        li {
          display: inline-block;
          padding: 0 60px;
          font-size: 14px;
          border-right: 1px solid #bfbfbf;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
            border-right: none;
          }
          a {
            display: block;
            padding: 7px 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  #mimg {
    margin-bottom: 80px;
    background: url("../img/recruit/mimg_bg.jpg") center top no-repeat;
  }
  .section {
    margin-bottom: 100px;
    .inner {
      h3 {
        margin-bottom: 40.5px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #015dac;
        background: url("../img/company/sec_ttl_bg.gif") 0 7px no-repeat;
      }
    }
  }
  #section02 {
    .inner {
      .catchcopy {
        margin-bottom: 60px;
        text-align: center;
      }
      .unit {
        @include clearfix;
        margin-bottom: 50px;
        &:nth-of-type(2) {
          margin-bottom: 0;
        }
        .txt_area {
          width: 480px;
          padding-top: 50px;
          h4 {
            margin-bottom: 30px;
          }
          .banner {
            margin-bottom: 20px;
          }
          h4, .banner {
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  #section03 {
    margin-bottom: 0;
    .inner {
      .tbl_wrap {
        table {
          width: 100%;
          line-height: 1.846;
          tr {
            &:nth-child(even) {
              background-color: #e5e5e5;
            }
            th {
              width: 220px;
              padding: 10px 0 10px 10px;
              text-align: left;
              font-weight: normal;
            }
            td {
              padding: 10px 0;
              a {
                font-weight: bold;
                color: #015dac;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 11.contact
-------------------------------------------------- */
#contact {
  .section {
    .inner {

    }
  }
  #section02 {
    padding-top: 80px;
    .inner {
      ul{
        li {
          width: 50%;
          float: left;
          .unit {
            margin-bottom: 70.5px;
            h3 {
              margin-bottom: 20.5px;
              padding: 2px 0 2px 20px;
              font-size: 17px;
              font-weight: bold;
              color: #015dac;
              border-left: 5px solid #015dac;
            }
            .txt_area {
              p {
                font-size: 14px;
                margin-bottom: 3px;
                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}