@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/*====================================================================

01.format
02.common
03.top
04.low common
05.concept
06.icon
07.product
08.company
09.news
10.recruit
11.contact

=====================================================================*/
/* 01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #404040;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #1b1b1b;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 02.common
-------------------------------------------------- */
#header {
  height: 56px;
  background-color: #28066a;
}

#header .inner {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
  position: relative;
}

#header .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header h1 {
  position: absolute;
  top: 0;
  left: 0;
}

#header p.tel {
  width: 206px;
  float: left;
  padding-left: 626px;
}

#header ul.icons {
  width: 168px;
  float: left;
  padding-left: 832px;
}

#header ul.icons li {
  width: auto;
  float: left;
}

#gnav {
  width: 1000px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 17px;
}

#gnav ul {
  padding-left: 184px;
  *zoom: 1;
}

#gnav ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#gnav ul li {
  display: inline-block;
  margin-right: 42px;
}

#gnav ul li:last-of-type {
  margin-right: 0;
}

#footer {
  border-top: 1px solid #bfbfbf;
  background-color: #f5f5f5;
  line-height: 20px;
}

#footer #ftnav-area {
  padding-bottom: 40px;
  border-bottom: 1px solid #bfbfbf;
}

#footer #ftnav-area .inner {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
  padding-top: 50px;
  position: relative;
}

#footer #ftnav-area .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer #ftnav-area #ftnav01 {
  width: 159px;
  float: left;
}

#footer #ftnav-area #ftnav02 {
  width: 168px;
  float: left;
}

#footer #ftnav-area #ftnav03 {
  width: 179px;
  float: left;
}

#footer #ftnav-area #ftnav04 {
  width: 135px;
  float: left;
}

#footer #ftnav-area .pnav {
  font-weight: bold;
}

#footer #ftnav-area .pnav a {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  background-image: url("../img/ft_lm.gif");
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #1b1b1b;
  text-decoration: none;
}

#footer #ftnav-area .pnav a:hover {
  text-decoration: underline;
}

#footer #ftnav-area .pnav li {
  font-weight: normal;
}

#footer #ftnav-area .pnav li a {
  margin-bottom: 0;
  background: none;
  line-height: 23px;
}

#footer #ftnav-area .totop {
  position: absolute;
  top: 0;
  right: 0;
}

#footer #ftnav-area .rbnr {
  position: absolute;
  top: 50px;
  right: 0;
}

#footer #ftinfo .inner {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}

#footer #ftinfo .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer #ftinfo .inner .logo {
  width: 72px;
  float: left;
  margin-right: 15px;
}

#footer #ftinfo .inner address {
  width: 447px;
  float: left;
  line-height: 20px;
}

#footer #ftinfo .inner .pmark {
  width: 75px;
  float: right;
}

#footer #crarea {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #28066a;
  text-align: center;
  color: #ffffff;
}

/* 03.top
-------------------------------------------------- */
#mimgarea .sp-slide {
  opacity: 0.6;
}

#mimgarea .sp-slide.sp-selected {
  opacity: 1;
}

/* スライダー */
.wideslider {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.wideslider img {
  width: 100%;
  height: auto;
}

.wideslider ul,
.wideslider ul li {
  float: left;
  display: inline;
  overflow: hidden;
}

.wideslider ul li img {
  width: 100%;
  display: none;
}

.wideslider_base {
  top: 0;
  position: absolute;
}

.wideslider_wrap {
  top: 0;
  position: absolute;
  overflow: hidden;
}

.slider_prev,
.slider_next {
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.slider_prev {
  background: #000 url("../img/prev.png") no-repeat right center;
}

.slider_next {
  background: #000 url("../img/next.png") no-repeat left center;
}

.click_prev {
  position: absolute;
  right: 0;
  top: 233px;
  opacity: 1 !important;
  margin-right: -25px;
  cursor: pointer;
}

.click_next {
  position: absolute;
  left: 0;
  top: 233px;
  opacity: 1 !important;
  margin-left: -25px;
  cursor: pointer;
}

.pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  position: absolute;
  z-index: 10000;
}

.pagination a {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  background-image: url(../img/sld_pn.png);
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 10000;
}

.pagination a.active {
  background-image: url(../img/sld_pn_actv.png);
  opacity: 1 !important;
}

/* ClearFixElements */
.wideslider ul:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.wideslider ul {
  display: inline-block;
  overflow: hidden;
}

#tnews {
  background-color: #f5f5f5;
  padding-top: 29px;
  padding-bottom: 23px;
  line-height: 20px;
}

#tnews .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#tnews h2 {
  margin-bottom: 44px;
  text-align: center;
}

#tnews .toarc {
  position: absolute;
  right: 0;
  top: 0;
}

#tnews .toarc a {
  padding-right: 10px;
  color: #1b1b1b;
  text-decoration: none;
  background-image: url("../img/tnews_lm.gif");
  background-repeat: no-repeat;
  background-position: right center;
}

#tnews .toarc a:hover {
  text-decoration: underline;
}

#tnews .list-area {
  width: 747px;
  margin: 0 auto;
}

#tnews .list-area li {
  *zoom: 1;
  padding-bottom: 13px;
  border-bottom: 1px dotted #959595;
  margin-bottom: 13px;
}

#tnews .list-area li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#tnews .list-area .date {
  float: left;
  font-weight: bold;
  width: 97px;
}

#tnews .list-area .tag {
  width: 73px;
  float: left;
  margin-right: 23px;
}

#tnews .list-area .ttl {
  width: 546px;
  float: left;
}

#tnews .list-area .ttl a {
  color: #1b1b1b;
  text-decoration: none;
}

#tnews .list-area .ttl a:hover {
  text-decoration: underline;
}

#ticon {
  height: 417px;
  line-height: 20px;
  background-image: url("../img/ticon_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

#ticon .inner {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}

#ticon .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#ticon .box {
  padding-top: 60px;
  width: 429px;
  float: right;
}

#ticon .box h2 {
  margin-bottom: 23px;
  text-align: center;
}

#ticon .box .txt {
  width: 290px;
  margin: 0 auto 37px auto;
}

#tsv {
  padding-top: 42px;
  padding-bottom: 45px;
  background-image: url("../img/tsv_bg.gif");
  background-repeat: repeat;
  background-position: 0 0;
  line-height: 20px;
}

#tsv .inner {
  width: 1000px;
  margin: 0 auto;
}

#tsv h2 {
  margin-bottom: 30px;
  text-align: center;
}

#tsv ul {
  *zoom: 1;
}

#tsv ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#tsv li {
  float: left;
  margin-right: 13px;
  width: 238px;
  border: 1px solid #c2c3c3;
  background-color: #fff;
}

#tsv li .txt {
  padding: 8px 13px 12px 16px;
}

#tsv li a {
  display: block;
  color: #1b1b1b;
  text-decoration: none;
}

#tsv li:last-of-type {
  margin-right: 0;
}

#tbnrs {
  width: 1000px;
  margin: 0 auto;
  padding: 53px 0 56px 0;
}

#tbnrs ul {
  *zoom: 1;
}

#tbnrs ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#tbnrs li {
  width: 302px;
  float: left;
}

#tbnrs li:nth-of-type(2) {
  margin: 0 43px 0 48px;
}

/* 04.low common
-------------------------------------------------- */
#breadcrumbs {
  width: 100%;
  height: 38px;
  background: #f5f5f5;
}

#breadcrumbs .inner {
  width: 1000px;
  margin: 0 auto;
}

#breadcrumbs .inner ol li {
  display: inline-block;
  padding: 13px 0;
}

#breadcrumbs .inner ol li a:hover {
  text-decoration: underline;
}

.main {
  width: 100%;
  margin-bottom: 180px;
}

.main .inner {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}

.main .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.main .inner p {
  line-height: 1.692;
}

.main #section01 {
  width: 100%;
  height: 83px;
  padding-top: 47px;
  border-bottom: 1px solid #bfbfbf;
}

.main #section01 .inner h2 {
  width: 300px;
  margin: 0 auto;
}

.main #section01 .inner h2 img {
  display: block;
  margin: 0 auto;
}

/* 05.concept
-------------------------------------------------- */
#concept .section .inner {
  padding-bottom: 40.5px;
}

#concept .section .inner h3 {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 25.5px;
}

#concept .section .inner .txt_area01 {
  width: 900px;
  margin: 0 auto;
}

#concept #section02 .inner {
  padding-top: 45px;
}

#concept #section02 .inner .sec02_ttl img {
  display: block;
  margin: 0 auto;
}

#concept #section02 .inner .txt_area02 {
  width: 757px;
  margin: 0 auto;
}

#concept #section02 .inner .txt_area02 p {
  line-height: 2.154;
}

#concept #section03 {
  background-color: #f2f2f2;
}

#concept #section03 .inner {
  background: url("../img/concept/sec03_bg.png") center 30px no-repeat;
}

#concept #section03 .inner .sec03_ttl {
  padding-top: 315px;
}

#concept #section04 .inner {
  background: url("../img/concept/sec04_bg.png") center 30px no-repeat;
}

#concept #section04 .inner .sec04_ttl {
  padding-top: 395px;
}

#concept #section05 {
  background-color: #f2f2f2;
}

#concept #section05 .inner {
  background: url("../img/concept/sec05_bg.gif") center 30px no-repeat;
}

#concept #section05 .inner .sec05_ttl {
  padding-top: 225px;
}

#concept #section05 .inner .txt_area .mark {
  margin: 25.5px 0;
  font-weight: bold;
}

/* 06.icon
-------------------------------------------------- */
#icon #section02 {
  padding-top: 45px;
}

#icon #section02 .inner h3 {
  width: 817px;
  margin: 0 auto 30.5px;
}

#icon #section02 .inner .txt_area {
  margin-bottom: 70.5px;
}

#icon #section02 .inner .txt_area p:nth-of-type(2) {
  padding: 25.5px 0;
}

#icon #section02 .inner .service {
  *zoom: 1;
}

#icon #section02 .inner .service:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#icon #section02 .inner .service li {
  display: inline-block;
  width: 449px;
  height: 375px;
  margin-bottom: 25px;
  padding: 0 18px;
}

#icon #section02 .inner .service li h4 {
  padding-top: 200px;
  margin-bottom: 10.5px;
}

#icon #section02 .inner .service li:nth-child(2n+1) {
  float: left;
}

#icon #section02 .inner .service li:nth-child(2n) {
  float: right;
}

#icon #section02 .inner .service li:nth-child(5), #icon #section02 .inner .service li:nth-child(6) {
  margin-bottom: 0;
}

#icon #section02 .inner .service li:nth-child(1) {
  background-image: url("../img/icon/service01_bg.jpg");
}

#icon #section02 .inner .service li:nth-child(2) {
  background-image: url("../img/icon/service02_bg.jpg");
}

#icon #section02 .inner .service li:nth-child(3) {
  background-image: url("../img/icon/service03_bg.jpg");
}

#icon #section02 .inner .service li:nth-child(4) {
  background-image: url("../img/icon/service04_bg.jpg");
}

#icon #section02 .inner .service li:nth-child(5) {
  background-image: url("../img/icon/service05_bg.jpg");
}

#icon #section02 .inner .service li:nth-child(6) {
  background-image: url("../img/icon/service06_bg.jpg");
}

/* 07.product
-------------------------------------------------- */
#product #tab {
  margin-bottom: 80px;
  padding: 34px 0;
  border-bottom: 1px solid #bfbfbf;
}

#product #tab .inner ul {
  width: 860px;
  margin: 0 auto;
}

#product #tab .inner ul li {
  display: inline-block;
  padding: 0 60px;
  font-size: 14px;
  border-right: 1px solid #bfbfbf;
}

#product #tab .inner ul li:first-child {
  padding-left: 0;
}

#product #tab .inner ul li:last-child {
  padding-right: 0;
  border-right: none;
}

#product #tab .inner ul li a {
  display: block;
  padding: 7px 0;
}

#product #tab .inner ul li a:hover {
  text-decoration: underline;
}

#product .section {
  margin-bottom: 60px;
}

#product .section .inner .unit {
  width: 570px;
}

#product .section .inner .unit h3 {
  margin-bottom: 13.5px;
  font-size: 20px;
  color: #015dac;
}

#product .section .inner .unit .url {
  margin-bottom: 20.5px;
}

#product .section .inner .unit .url a:hover {
  text-decoration: underline;
}

#product .section .inner .unit .txt {
  margin-bottom: 5.5px;
}

/* 08.company
-------------------------------------------------- */
#company #tab {
  margin-bottom: 80px;
  padding: 34px 0;
  border-bottom: 1px solid #bfbfbf;
}

#company #tab .inner ul {
  width: 515px;
  margin: 0 auto;
}

#company #tab .inner ul li {
  display: inline-block;
  width: 90px;
  padding: 0 60px;
  font-size: 14px;
  border-right: 1px solid #bfbfbf;
}

#company #tab .inner ul li:first-child {
  padding-left: 0;
}

#company #tab .inner ul li:last-child {
  padding-right: 0;
  border-right: none;
}

#company #tab .inner ul li a {
  display: block;
  padding: 7px 0;
}

#company #tab .inner ul li a:hover {
  text-decoration: underline;
}

#company .section .inner h3 {
  margin-bottom: 40.5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #015dac;
  background: url("../img/company/sec_ttl_bg.gif") 0 7px no-repeat;
}

#company .disnon {
  display: none;
}

#company #section02 .inner .unit {
  margin-bottom: 60px;
}

#company #section02 .inner .unit .tbl_wrap01 table {
  width: 100%;
  line-height: 1.846;
}

#company #section02 .inner .unit .tbl_wrap01 table tr:nth-child(even) {
  background-color: #e5e5e5;
}

#company #section02 .inner .unit .tbl_wrap01 table tr th {
  width: 220px;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-weight: normal;
}

#company #section02 .inner .unit .tbl_wrap01 table tr td {
  padding: 10px 0;
}

#company #section02 .inner .unit .tbl_wrap01 table tr td a {
  font-weight: bold;
  color: #015dac;
}

#company #section02 .inner .unit .tbl_wrap01 table tr td a:hover {
  text-decoration: underline;
}

#company #section02 .inner .access {
  text-align: center;
}

#company #section02 .inner .access .gmap {
  margin-bottom: 20px;
}

#company #section02 .inner .access h4 {
  margin-bottom: 15.5px;
  font-size: 16px;
  font-weight: bold;
}

#company #section03 .inner .mimg {
  height: 275px;
  margin-bottom: 40.5px;
  background: url("../img/company/mes_bg.jpg") 0 0 no-repeat;
}

#company #section03 .inner .mimg .message {
  padding: 115px 0 0 90px;
  font-size: 26px;
  font-weight: bold;
}

#company #section04 .inner .unit {
  *zoom: 1;
  margin-bottom: 30px;
}

#company #section04 .inner .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#company #section04 .inner .unit h4 {
  margin-bottom: 20px;
  padding: 2px 0 2px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #015dac;
  border-left: 5px solid #015dac;
}

#company #section04 .inner .unit .tbl_wrap02 {
  width: 730px;
}

#company #section04 .inner .unit .tbl_wrap02 table {
  width: 100%;
  line-height: 1.846;
}

#company #section04 .inner .unit .tbl_wrap02 table tr {
  border-bottom: 1px dotted #aaaaaa;
}

#company #section04 .inner .unit .tbl_wrap02 table tr th {
  width: 100px;
  padding: 2px 0;
  text-align: left;
}

#company #section04 .inner .unit .tbl_wrap02 table tr td {
  padding: 2px 0;
}

#company #section04 .inner .unit .tbl_wrap02 table tr td a:hover {
  text-decoration: underline;
}

#company #section04 .inner .last {
  margin-bottom: 0;
}

/* 09.news
-------------------------------------------------- */
#news #section02 {
  padding-top: 60px;
}

#news #section02 .inner dl {
  *zoom: 1;
  width: 100%;
  padding: 30px 0 25.5px;
  border-bottom: 1px dotted #aaaaaa;
}

#news #section02 .inner dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#news #section02 .inner dl dt {
  float: left;
  clear: left;
  width: 200px;
  padding: 5px 0;
  font-weight: bold;
  background: url("../img/news/news_tag.gif") 95px 0 no-repeat;
}

#news #section02 .inner dl dd {
  float: left;
  width: 800px;
}

#news #section02 .inner dl dd h3 {
  font-weight: bold;
  margin-bottom: 10.5px;
}

/* 10.recruit
-------------------------------------------------- */
#recruit #sec_menu {
  padding: 34px 0;
  border-bottom: 1px solid #bfbfbf;
}

#recruit #sec_menu .inner ul {
  width: 425px;
  margin: 0 auto;
}

#recruit #sec_menu .inner ul li {
  display: inline-block;
  padding: 0 60px;
  font-size: 14px;
  border-right: 1px solid #bfbfbf;
}

#recruit #sec_menu .inner ul li:first-child {
  padding-left: 0;
}

#recruit #sec_menu .inner ul li:last-child {
  padding-right: 0;
  border-right: none;
}

#recruit #sec_menu .inner ul li a {
  display: block;
  padding: 7px 0;
}

#recruit #sec_menu .inner ul li a:hover {
  text-decoration: underline;
}

#recruit #mimg {
  margin-bottom: 80px;
  background: url("../img/recruit/mimg_bg.jpg") center top no-repeat;
}

#recruit .section {
  margin-bottom: 100px;
}

#recruit .section .inner h3 {
  margin-bottom: 40.5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #015dac;
  background: url("../img/company/sec_ttl_bg.gif") 0 7px no-repeat;
}

#recruit #section02 .inner .catchcopy {
  margin-bottom: 60px;
  text-align: center;
}

#recruit #section02 .inner .unit {
  *zoom: 1;
  margin-bottom: 50px;
}

#recruit #section02 .inner .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#recruit #section02 .inner .unit:nth-of-type(2) {
  margin-bottom: 0;
}

#recruit #section02 .inner .unit .txt_area {
  width: 480px;
  padding-top: 50px;
}

#recruit #section02 .inner .unit .txt_area h4 {
  margin-bottom: 30px;
}

#recruit #section02 .inner .unit .txt_area .banner {
  margin-bottom: 20px;
}

#recruit #section02 .inner .unit .txt_area h4 img, #recruit #section02 .inner .unit .txt_area .banner img {
  display: block;
  margin: 0 auto;
}

#recruit #section03 {
  margin-bottom: 0;
}

#recruit #section03 .inner .tbl_wrap table {
  width: 100%;
  line-height: 1.846;
}

#recruit #section03 .inner .tbl_wrap table tr:nth-child(even) {
  background-color: #e5e5e5;
}

#recruit #section03 .inner .tbl_wrap table tr th {
  width: 220px;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-weight: normal;
}

#recruit #section03 .inner .tbl_wrap table tr td {
  padding: 10px 0;
}

#recruit #section03 .inner .tbl_wrap table tr td a {
  font-weight: bold;
  color: #015dac;
}

#recruit #section03 .inner .tbl_wrap table tr td a:hover {
  text-decoration: underline;
}

/* 11.contact
-------------------------------------------------- */
#contact #section02 {
  padding-top: 80px;
}

#contact #section02 .inner ul li {
  width: 50%;
  float: left;
}

#contact #section02 .inner ul li .unit {
  margin-bottom: 70.5px;
}

#contact #section02 .inner ul li .unit h3 {
  margin-bottom: 20.5px;
  padding: 2px 0 2px 20px;
  font-size: 17px;
  font-weight: bold;
  color: #015dac;
  border-left: 5px solid #015dac;
}

#contact #section02 .inner ul li .unit .txt_area p {
  font-size: 14px;
  margin-bottom: 3px;
}

#contact #section02 .inner ul li .unit .txt_area p span {
  font-weight: bold;
}
